<section class="aa-post-cta gh-canvas">
    <div class="aa-post-cta-inner">
        <span class="aa-page-eyebrow">{{#if @custom.post_cta_eyebrow}}{{@custom.post_cta_eyebrow}}{{else}}Approfondimenti{{/if}}</span>
        <h2 class="aa-post-cta-title">{{#if @custom.post_cta_title}}{{@custom.post_cta_title}}{{else}}Continua l'esplorazione{{/if}}</h2>
        <p class="aa-post-cta-copy">{{#if @custom.post_cta_copy}}{{@custom.post_cta_copy}}{{else}}Una selezione di percorsi, profilo professionale e possibilità di confronto collegati ai temi trattati nel sito.{{/if}}</p>

        <div class="aa-post-cta-actions">
            <a class="aa-primary-button" href="/consulenza/">Consulenza</a>
            <a class="aa-text-link" href="/about/">Profilo</a>
        </div>
    </div>
</section>
