<section class="aa-post-cta gh-canvas">
    <div class="aa-post-cta-inner">
        <span class="aa-page-eyebrow">{{#if @custom.post_cta_eyebrow}}{{@custom.post_cta_eyebrow}}{{else}}Dopo l'articolo{{/if}}</span>
        <h2 class="aa-post-cta-title">{{#if @custom.post_cta_title}}{{@custom.post_cta_title}}{{else}}Se questo tema ti interessa, puoi approfondire.{{/if}}</h2>
        <p class="aa-post-cta-copy">{{#if @custom.post_cta_copy}}{{@custom.post_cta_copy}}{{else}}Puoi continuare la lettura nel sito, capire meglio il mio approccio oppure usare questo articolo come punto di partenza per una conversazione di lavoro.{{/if}}</p>

        <div class="aa-post-cta-actions">
            <a class="aa-primary-button" href="{{#if @custom.global_primary_cta_url}}{{@custom.global_primary_cta_url}}{{else}}/consulenza/{{/if}}">{{#if @custom.global_primary_cta_label}}{{@custom.global_primary_cta_label}}{{else}}Lavoriamo insieme{{/if}}</a>
            <a class="aa-text-link" href="{{#if @custom.global_secondary_cta_url}}{{@custom.global_secondary_cta_url}}{{else}}/about/{{/if}}">{{#if @custom.global_secondary_cta_label}}{{@custom.global_secondary_cta_label}}{{else}}Chi sono{{/if}}</a>
        </div>
    </div>
</section>
